.buttonsList {
  display: flex;
}

.arrowButton path {
  fill: #606f89;
  &:hover {
    fill: #2e3b52;
  }
}

.hide {
  opacity: 0;
}

.buttonLeft {
  margin-right: 25px;
}

.buttonRight {
  margin-left: 25px;
}
