.wrapper {
  width: 400px;
  height: max-content;
  padding-bottom: 5px;
}

.title {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.titleNote {
  font-weight: 700;
  font-size: 23px;
}

.viewAll {
  padding: 5px 0;
  font-size: 16px;
  color: #ee7858;
}

.notification {
  background-color: #000000;
  margin: 5px 10px 15px;
  padding: 10px;
  height: max-content;
  min-height: 100px;
  border-radius: 10px;
  display: flex;
}

.icon {
  background-color: #474a55;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  padding: 5px;
  align-items: center;
}

.activeNote {
  margin-left: 15px;
  width: 50vh;
}

.notificationTxt {
  color: #ffffff;
  font-size: 17px;
  word-wrap: break-word;
}

.notificationDate {
  margin-top: 5px;
  color: #ffffff;
  font-size: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 0;
}
