body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  width: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f6f9f6;
  padding: 10px 0;
}

.wraper {
  display: flex;
}

.header {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header :last-child {
  border-bottom: 0;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.fio {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.main {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
  height: auto;
}

.title {
  font-size: 15px;
  color: #5e5e5e;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(197, 197, 197);
  height: 70px;
  width: 150px;
}

.main :last-child {
  border-bottom: 0;
}

.text {
  display: flex;
  align-items: center;
  width: max;
  color: #000000;
}

.label {
  align-items: center;
  margin-bottom: 20px;
}

.title_contact {
  font-size: 15px;
  color: rgb(94, 94, 94);
  display: flex;
  margin-right: 10px;
}

.title_contact :last-child {
  margin-right: 0;
}

.label_contact {
  text-align: right;
  margin-right: 10px;
  width: 30px;
  &:hover {
    transform: scale(1.2);
  }
}

.link {
  color: #ee7858;
  transition: 0.1s;
}

.cake {
  width: 25px;
  margin-left: 5px;
}
