body {
  margin: 0;
}

.container {
  display: flex;
  // border: 2px solid rgb(155, 155, 155);
  border-radius: 20px;
  width: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgb(155, 155, 155);
  margin-right: 10px;
  height: max;
}

.header :last-child {
  border-bottom: 0;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}

.fio {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.main {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-wrap: wrap;
  height: auto;
}

.title {
  font-size: 20px;
  color: rgb(94, 94, 94);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(155, 155, 155);
  height: 70px;
  margin: 10px 40px;
  width: 150px;
}

.main :last-child {
  border-bottom: 0;
}

.text {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  width: 200px;
}

.label {
  align-items: center;
  margin-bottom: 20px;
}

.title_contact {
  font-size: 20px;
  color: rgb(94, 94, 94);
  border-bottom: 1px solid rgb(155, 155, 155);
  display: flex;
  margin: 20px;
  width: 300px;
}

.label_contact {
  width: 150px;
  text-align: right;
  margin-right: 10px;
  width: 30px;
}

a {
  color: #ee7858;
}
