.menu_wrap {
  width: 70px;
  height: 100%;
  background-color: #f6f9f6;
  position: fixed;
  margin-top: 20px;
  bottom: 0;
  margin: 0;
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
  z-index: 1;
}

.open {
  width: 25vw;
}

// a{
//   align-items: center;
// }

.logo_item {
  text-align: center;
  margin-top: 20px;
  justify-content: center;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuActive {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #d1e2d1;
}

.menu_list {
  margin-top: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.menu_list:hover {
  background-color: #d1e2d1;
}

.menu_item {
  width: max-content;
  height: max-content;
  font-size: 20px;
  line-height: 25px;
  padding: 0;
  text-align: center;
  color: #000000;
  letter-spacing: 1px;
}

.icon {
  margin-top: 10px;
  margin-left: 20px;
}

.menu_item:hover {
  font-weight: 600;
  & .icon {
    height: 40px;
    width: 40px;
    transition: 0.6s;
    margin-top: 5px;
    margin-left: 15px;
  }
}
