.page {
  width: fit-content;
  max-width: 75vw;
  overflow: hidden;
  overflow-x: auto;
}

@media (max-width: 1100px) {
  .page {
    max-width: 600px;
  }
}

@media (max-width: 700px) {
  .page {
    max-width: 300px;
  }
}
