.customInput {
  width: inherit;
}

.calendarIcon {
  width: 20px;
  height: 20px;

  path,
  circle {
    fill: #a0a0a0;
  }
}

.openDate {
  border-radius: 50%;
  background-color: #d46b4d;

  &:hover {
    background-color: #ee7858;
    border-radius: 50%;
  }
}

.anyDate {
  &:hover {
    border-radius: 50%;
  }
}
