.timeline {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 50%;
}

.list {
  // border: 1px solid red;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.list .circle {
  background-color: #000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: calc(80%);
}

.line {
  background-color: #000000;
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
}
