.button {
  border-radius: 4px;
  font-family: 'VTBGroupUI-Regular';
  font-style: normal;
  font-weight: 500;
  border: none;
  cursor: pointer;
  user-select: none;
  background: #0062ff;
  color: #fff;
  height: 32px;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 20px;
  margin-left: 6px;
}
