.fieldSearch {
  display: flex;
  margin: 15px 0 15px 15px;
  position: absolute;

  .rectangle {
    position: relative;
  }

  .icon {
    position: absolute;
    bottom: 0;
    top: 10px;
    left: 10px;
  }

  .searchInput {
    width: 280px;
    background: #f9fcf8;
    border: none;
    border-radius: 8px;

    &:focus {
      border: none;
    }
  }

  .findButton {
    margin-left: 8px;
    background: #d46b4d;
    border: none;
    border-radius: 8px;

    &:hover {
      background: #ee7858;
    }
  }
}
