.button {
  padding: 9px 23px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: #0062ff;
  border-radius: 4px;
  border: 1px solid #0062ff;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.outlined {
  background-color: #fff;
  color: #0062ff;
}

.button:hover {
  background-color: #0142d3;
}

.button:active {
  background-color: #022d9a;
}

.outlined:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.outlined:active {
  background-color: rgba(0, 0, 0, 0.16);
}

.button:focus:after {
  content: '';
  display: flex;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  position: absolute;
  left: 3px;
  top: 3px;
}

.button:focus {
  outline: none;
}

.outlined:focus:after {
  border: 1px solid #0062ff;
}

.outlined:focus {
  background-color: rgba(0, 0, 0, 0.16);
}

.big {
  padding: 15px 35px;
}

.small {
  padding: 5px 11px;
}
