.table {
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: 16px;
}

.buttAdd {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.thead {
  display: flex;
  height: 45px;
  padding-left: 6px;
  background-color: #f4f7fc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tbody {
  color: #2e3b52;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 5px solid #f4f7fc;
}

.tcol {
  display: flex;
  padding: 15px 10px;
  cursor: var(--pointer);
}

.trow {
  display: flex;
  padding-left: 6px;
  background-color: #f4f7fc;
  border-bottom: 5px solid #ffffff;

  .tcol {
    padding: 10px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.otrow {
  background-color: #ffffff;
}

.iconAdd {
  margin-right: 5px;
  max-height: 20px;
}

.icon {
  background-color: #3a3a3a00;
  border: none;

  path {
    fill: #a0a0a0;
  }

  &:hover path {
    fill: #6b6b6b;
  }

  &:active path {
    fill: #4d4d4d;
  }
}

.icon:hover {
  background-color: white;
}
